<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
            <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
            <div class="users flex gap-4 flex-nowrap overflow-x-auto">
                <% if(useers.length>0){ %>
                     <% useers.forEach(function(useeer){ %>
                    
               
                <div class="user bg-zinc-800 p-5  shrink-0 rounded-lg  w-72">
                    <div class="w-full bg-zinc-700 h-62 rounded-lg overflow-hidden">
                        <img class="w-full object-cover object-top h-full" src="<%= useeer.image %>" alt="">
                    </div>
                    <h3 class="text-xl mt-3 tracking-tighter"><%= useeer.name %></h3>
                    <h5 class="text-zinc-500"><%= useeer.email %></h5>
                    <div class="flex mt-5 justify-between">
                        <a class="text-blue-300 font-semibold" href="">Edit User</a>
                        <a class="text-red-500 font-semibold" href="/delete/<%= useeer._id %>">Delete User</a>

                    </div>
                </div>


                <% }) %>
                <% } else{ %>
                    <h3 class="text-zinc-600 text-2xl font-bold">No Users yet</h3>
                <% } %>
               
            </div>
            <a class="text-emerald-600 inline-block mt-5 " href="/">Back To Home Page</a>
        
    </div>
</body>
</html>